---
import Layout from "../layouts/Layout.astro";
import GlitchText from "../components/GlitchText.svelte";
---

<Layout title="Page not found">
  <main>
    <p style="font-size: 8em;">
      <GlitchText client:idle text="404" />
    </p>
    <p>ページが見つかりません</p>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
